.experience-section{

    padding:130px 0;

    background:#fffaf4;

}



.experience-wrapper{

    display:flex;

    align-items:center;

    gap:80px;

}



.experience-content{

    width:50%;

}



.experience-image{

    width:50%;

}



.experience-image img{

    width:100%;

    height:600px;

    object-fit:cover;

    border-radius:40px;

}



.experience-content span{

    color:#b77b45;

    letter-spacing:5px;

    font-size:13px;

}



.experience-content h2{

    font-family:"Playfair Display",serif;

    font-size:clamp(3rem,5vw,4.5rem);

    line-height:1;

    margin:25px 0;

    color:#3b2115;

}



.experience-content>p{

    color:#6b5548;

    line-height:1.8;

    font-size:17px;

}



.experience-points{

    display:flex;

    gap:40px;

    margin-top:45px;

}



.experience-points h3{

    font-family:"Playfair Display",serif;

    font-size:35px;

    color:#3b2115;

}



.experience-points p{

    color:#8a6d5b;

    margin-top:5px;

}



@media(max-width:900px){


.experience-wrapper{

    flex-direction:column;

}


.experience-content,
.experience-image{

    width:100%;

}


.experience-image img{

    height:450px;

}


.experience-points{

    flex-direction:column;

    gap:20px;

}

}